@model IEnumerable<DotNetCoreProgect_Ali.Models.Order>

<h2 style="text-align:center;">Order For Traveller</h2>


<table class="table table-bordered table-hover table-striped justify-content-center">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BuyingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BuyingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="DeleteItem" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>


